.album-img {
  margin-top: 50px;
}


.chat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.chat-input-container {
  margin-right: 1em;
  background-color: #ededed
}

.chat-input {
  background-color: #ededed !important;
}

.chat-messages-container {
  background-color: #ededed;
  height: 20vh;
  width: 50%;
  overflow: scroll;
}

.message {
  padding: 0.5em;
  border-width: 2px 0 2px 0;
  border-style: groove;
  border-color: #eeeeee30;
  text-align: left;
}

.vote-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.active-up {
  color: green;
}

.active-down {
  color: red;
}
