.album-img {
  margin-top: 50px;
}

.chat-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.chat-input-container {
  width: 90%;
  left: 0;
  /* background-color: #ededed; */
}

.chat-input {
  width: 90vw;
  background-color: #fff !important;
}

.chat-messages-container {
  background-color: #ededed;
  border: '5px solid black';
  height: 25vh;
  justify-content: center;
  width: 100%;
  overflow-wrap: break-word;
  overflow: auto;
  border: '1px solid black';
}

.message {
  padding: 0.5em;
  border-width: 2px 0 2px 0;
  border-radius: 40px; /* border-style: groove; */
  border-color: black;
  text-align: left;
}

.vote-button-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

.active-up {
  color: rgb(66, 244, 137);
}

.active-down {
  color: rgb(238, 81, 81);
}
