nav {
  background-image: linear-gradient(
    336deg,
    rgba(66, 244, 137, 0.8),
    rgba(102, 186, 255, 0.8) 75%
  );
}

body {
  font-family: 'Tajawal', sans-serif;
  background: repeat url(assets/binding-light.png);
}

ion-icon {
  font-size: 50px;
}

.up:hover {
  color: #0fce7e;
  cursor: pointer;
}

.down {
  margin-top: 20px;
}

.down:hover {
  color: #e604c0;
  cursor: pointer;
}
