/* main {
  font-family: 'Tajawal', sans-serif;
  background: repeat url(assets/binding-light.png);
} */

.landing,
.channels {
  background: url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAHUlEQVQYV2O8cuVKmo6OziwGKGCEMTAEYCoxVAAAXA0IBSg0edEAAAAASUVORK5CYII=
  )
    repeat;
  height: 'auto';
}

.headline {
  font-size: 70px;
}

.subheadline {
  font-size: 30px;
}

.haveSpotify {
  font-size: 22px;
}

nav {
  background-image: linear-gradient(
    270deg,
    rgb(66, 244, 137),
    rgb(0, 140, 255) 100%
  );
}

ion-icon {
  font-size: 50px;
}

.up:hover {
  color: #0fce7e;
  cursor: pointer;
}

.down {
  margin-top: 20px;
}

.down:hover {
  color: #e604c0;
  cursor: pointer;
}

.add:hover {
  background-color: #0fce7e;
  color: '#FFF';
  cursor: cell;
  transition: 0.2s;
  border-radius: 2px;
}

.remove:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: '#FFF';
  cursor: pointer;
  transition: 0.2s;
  border-radius: 2px;
}

.signIn:hover {
  background-color: rgb(102, 186, 255);
}

.fas {
  font-size: 2em;
}

.fa-thumbs-up:hover {
  cursor: pointer;
  color: rgb(66, 244, 137);
}

.fa-thumbs-down {
  vertical-align: middle;
}

.fa-thumbs-down:hover {
  cursor: pointer;
  color: rgb(238, 81, 81);
}

nav-button,
button {
  background-color: grey;
  color: black;
}

nav,
button:hover {
  color: white;
}

.arrow:hover {
  color: ' rgb(0, 140, 255)';
}

@media only screen and (min-width: 768px) {
  .headline {
    font-size: 120px;
  }
  .subheadline {
    font-size: 50px;
  }
  .haveSpotify {
    font-size: 28px;
  }
  .slideLeft {
    margin: 40px 30px 0 0;
  }
  .slideRight {
    margin: 40px 30px 0 0;
  }
}
