nav {
  background-image: linear-gradient(
    336deg,
    rgba(66, 244, 137, 0.8),
    rgba(102, 186, 255, 0.8) 75%
  );
}

body {
  font-family: 'Tajawal', sans-serif;
  background: repeat url(assets/binding-light.png);
}

ion-icon {
  font-size: 50px;
}

.up:hover {
  color: #0fce7e;
  cursor: pointer;
}

.down {
  margin-top: 20px;
}

.down:hover {
  color: #e604c0;
  cursor: pointer;
}

.add:hover {
  background-color: #0fce7e;
  color: '#FFF';
  cursor: cell;
  transition: 0.2s;
  border-radius: 2px;
}

.remove:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: '#FFF';
  cursor: pointer;
  transition: 0.2s;
  border-radius: 2px;
}

.signIn:hover {
  background-color: rgb(102, 186, 255);
}

.fas {
  font-size: 2em;
}

.fa-thumbs-up:hover {
  cursor: pointer;
  color: green;
}

.fa-thumbs-down {
  vertical-align:middle
}

.fa-thumbs-down:hover {
  cursor: pointer;
  color: red;
}
